/* remove white at top of page*/
body{
  margin:0;
  padding:0;
}

/*font import merriweather*/
    @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87.5,300..900;1,18..144,87.5,300..900&display=swap');

/*font variations 300 to 900*/

.merriweather-font-value {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/*header*/
header {
  padding:0;;
  background-color:#007a78;
  width:100%;
  z-index:99;
  box-shadow:0 2px 2px #003b49
}
.header{
  display:flex;
  justify-content:space-around;

}

.logo{
 width:20vw;
 padding-top:4px;
 padding-left:0;
 box-shadow:2px 2px 2px #003b49;  
}

h1{
  font-family: 'Merriweather', serif;
  font-size:8vw;
  text-shadow: 2px 2px 2px #003b49;  
}

h1 a{
  text-decoration:none;
  color:#ffffff;
}

/*nav*/
#menu{
  display:flex;
  align-self:flex-end;
  justify-content:space-between;
  padding-bottom: 1em;
  display:none;
}
#menu > a{
  text-decoration:none;
  color:#ffffff;
  font-family:'Merriweather', serif;
  font-size:120%;
  background-color: #007a78;
  padding-left:1rem;
  text-shadow:1px 1px 1px #003b49;  
}
#menu > a:hover{
  color:#003b49;
  background-color:#ffffff;
}


/*nav toggle for mobile*/
#nav-toggle:checked~nav{
  display:flex;
  flex-direction:column;
  align-items:flex-end;
  font-size:1.2rem;
}
#nav-toggle{
  display:none;
}

#menu-burger{
  width:1.5rem;
  height:1.5rem;
  display:flex;
  align-self:flex-end;
}

@media screen and (min-width: 768px) {
/* #menu{
  display:flex;
  align-self:flex-end;
  justify-content:space-between;
  padding-bottom: 1em;
  display:none;*/

#menu > a{
  display:block;
  position:relative;
  text-decoration:none;
}
#menu > a:hover{
  color:#003b49;
  background-color:#ffffff;
}
.nav-toggle-label{
  display:none;
}
#menu{
  display:flex;}
}
