/*font import merriweather*/
    @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87.5,300..900;1,18..144,87.5,300..900&display=swap');

/* remove white at top of page*/
body{
  margin:0;
  padding:0;
}

/*font variations 300 to 900*/

.merriweather-font-value {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/*header*/
header {
  background-color:#232429;
  width:100%;
  box-shadow:0 2px 2px #000405;
  max-width:150%;
  position :relative;
}
/*menu logo header and h1*/
#menu-box{
  display:flex;
  max-width:100%;
  height:auto; 
  padding-top:0;
  padding-left:0;
  position:relative;
}
#menu-box > .logo{
  min-width:100%;

}
#menu-box > h1{
  position:absolute;
  top:50%;
  left:35%;
  bottom:20%;
  right:20%;
  color:#ffffff;
  text-decoration: underline overline #de721f;
  font-size:2.5vh;
  font-weight:500;
  letter-spacing:0.3rem;
}



/*nav*/
#menu{
  display:flex;
  align-self:flex-end;
  justify-content:space-between;
  padding-bottom: 1em;
  display:none;
}
#menu > a{
  text-decoration:none;
  font-weight:bold;
  color:#de721f;
  font-family:'Merriweather', serif;
  font-size:100%;
  background-color: #232429;
  padding-left:2em;
  padding-right:2em;
  margin-top:0.5em;   
}

/*nav toggle for mobile*/
#nav-toggle:checked~nav{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  font-size:1.2rem;
}
#nav-toggle{
  display:none;
}

#menu-burger{
  width:2em;
  height:2em;
  display:flex;
  align-self:flex-end;
  box-shadow: #000405;
}
/*body*/
body{
  font-family: 'Merriweather', serif;
  font-size:1rem;
  background-color:#c0581c;
  color:#232429;
  min-height:100vh;
  display:flex;
  flex-direction:column;
}

/*boxes for main content*/

.box-1{
  background-color:#232429;
  color:#ffffff;
  padding-top:1vh;
  padding-left:1vw;
  padding-right:1vw;
  padding-bottom:1vh;
   
}

.img-1{
  max-width:100%;
  height:auto;
  display:block;
  background-color:#232429;
  
}
.keto-diet{
  max-width:100%;
  height:auto;
}
/*macro text box*/
.box-2{
background-color:#232429;
  color:#ffffff;
  padding-top:3vh;
  padding-left:3vw;
  padding-right:2vw;
  padding-bottom:1vh;
  max-width:100%;
  height:auto;
}

/*macro image box*/
.box-3{
  max-width:100%;
  background-color:#232429;
  color:#ffffff;
  padding-top:1vh;
  padding-left:1vw;
  padding-right:1vw;
  padding-bottom:1vh;
  display:block;
  
  
}
/*macros image*/
div .keto-macros{
  width:100%;
  height:auto;
  display:block;
  background-color:#232429;
  
}
/*section headings h2*/
h2{
  color:#de721f;
  font-size:2rem;
}
main{
  flex:10 auto;
}
/*text links*/
#p-link{
  color:#de721f;
  
}

/*footer*/
footer{
  background-color: #003b49;
  color:#d6d2c4;
  width:100%;
  height:30vh;
  
}
/* media query for screen sizes over 768px for h1 positioning*/
@media screen and (min-width: 768px){

#menu-box > h1{
  position:absolute;
  top:12vh;
  left:35vw;
  color:#ffffff;
  text-decoration: underline overline #de721f;
  font-size:4vh;
  font-weight:300;
  letter-spacing:0.5rem;
}
}


/* media query for screen sizes over 1024px*/
@media screen and (min-width: 1024px) {

#menu > a{
  position:relative;

  text-decoration:none;
  font-size:130%;
}
#menu > a:hover{
  color:#2e323f;
  background-color: #ffffff;
}
.nav-toggle-label{
  display:none;
}
#menu{
  display:flex;
}
#menu-box > h1{
  position:absolute;
  top:55%;
  left:33%;
  bottom:20%;
  right:20%;
  color:#ffffff;
  text-decoration: underline overline #de721f;
  font-size:3rem;
  font-weight:600;
  letter-spacing:1rem;
}
  }

  
/* media query for screen sizes over 1200px*/
@media screen and (min-width: 1200px) {

#menu > a{
  position:relative;
  text-decoration:none;
  font-size:130%;
}
#menu > a:hover{
  color:#2e323f;
  background-color: #ffffff;
}
.nav-toggle-label{
  display:none;
}
#menu{
  display:flex;
}
#menu-box > h1{
  position:absolute;
  top:50%;
  left:35%;
  bottom:30%;
  right:30%;
  color:#ffffff;
  text-decoration: underline overline #de721f 8px;
  font-size:5rem;
  font-weight:800;
  letter-spacing:1rem;
  
}
  }
