/*font import merriweather*/
    @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87.5,300..900;1,18..144,87.5,300..900&display=swap');

/* remove white at top of page*/
body{
  margin:0;
  padding:0;
}

/*font variations 300 to 900*/

.merriweather-font-value {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/*header*/
header {
  background-color:#232429;
  width:100%;
  box-shadow:0 2px 2px #000405;
  max-width:150%;
  position :relative;
}
/*menu logo header and h1*/
#menu-box{
  display:flex;
  max-width:100%;
  height:auto; 
  padding-top:0;
  padding-left:0;
  position:relative;
}
#menu-box > .logo{
  min-width:100%;
  box-shadow:0 2px 2px #000405;

}
#menu-box > h1{
  position:absolute;
  top:54%;
  left:34%;
  color:#ffffff;
  text-decoration: underline overline #de721f;
  font-size:2.8vh;
  font-weight:600;
  letter-spacing:0.3rem;
}



/*nav*/
#menu{
  display:flex;
  align-self:flex-end;
  justify-content:space-between;
  padding-bottom: 1em;
  display:none;
}
#menu > a{
  text-decoration:none;
  font-weight:bold;
  color:#de721f;
  font-family:'Merriweather', serif;
  font-size:100%;
  background-color: #232429;
  padding-left:2em;
  padding-right:2em;
  margin-top:0.5em;   
}

/*nav toggle for mobile*/
#nav-toggle:checked~nav{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  font-size:1.2rem;
}
#nav-toggle{
  display:none;
}

#menu-burger{
  width:2em;
  height:2em;
  display:flex;
  align-self:flex-end;
  
}
/*body*/
body{
  font-family: 'Merriweather', serif;
  font-size:1rem;
  background-color:#232429;
  color:#232429;
  min-height:100vh;
  width:100%;
  display:flex;
  flex-direction:column;
}

/*boxes for main content*/

.box-1{
  background-color:#232429;
  color:#ffffff;
  padding-top:1vh;
  padding-left:3vw;
  padding-right:2vw;
  padding-bottom:1vh;
   
}
/*keto image*/
.img-1{
  max-width:100%;
  height:auto;
  display:block;
  background-color:#232429;
  border-top:solid 2px #de721f; 
  border-bottom:solid 2px #de721f; 
}
.keto-diet{
  max-width:100%;
  height:auto;
}

/*macro text box*/
.box-2{
background-color:#232429;
  color:#ffffff;
  padding-top:3vh;
  padding-left:3vw;
  padding-right:2vw;
  padding-bottom:1vh;
  max-width:100%;
  height:auto;
}

/*macro image box*/
.box-3{
  max-width:100%;
  background-color:#232429;
  color:#ffffff;
  padding-top:1vh;
  padding-left:1vw;
  padding-right:1vw;
  padding-bottom:1vh;
  display:block;
  
  
  
}
/*macros image*/
div .keto-macros{
  width:100%;
  height:auto;
  display:block;
  background-color:#232429;
  border-top: solid 2px #de721f;
   border-bottom:solid 2px #de721f;
  
}
/*section headings h2*/
h2{
  color:#de721f;
  font-size:2rem;
}
main{
  flex:10 auto;
}
/*text links*/
#p-link{
  color:#de721f;
  
}
form{
  color:#232429;
  background-color:#de721f
}

/*footer*/
footer{
  background-color: #0b0b0d;
  width:100%;
  height:40vh;
  padding:2vh 2vw;
  display:grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows:2fr 1fr 1fr;
  box-shadow:0 0 0 2px #de721f;
  padding-right:5vw;
}
.copyright{
  padding:3px 3px 3px 3px;
  font-size: small;
  background-color:#232429;
  color:#ffffff;
  text-align:center;
  width:80%;
  border:solid 1px #ffffff
}

div .social-media{ 
  width:10vh;
  height:auto;
  padding-top:8vh;
}
.printables a{
  text-decoration:none;
  font-weight:bold;
  color:#ffffff;
  padding-bottom:1vh;
  padding-left:1vw;
  
}
.printables a:hover{
  background-color:#ffffff;
  color:#232429;
}

.socials{
  background-color:#232429;
  color:#ffffff;
  width:85%;
  text-align: center;
  border:1px solid #ffffff;
  padding-left:-2vw;
}

/*medeia query for screen size 320px*/
@media screen and (min-width: 320px) {  
#menu-box > h1{
  position:absolute;
  top:54%;
  left:34%;
  color:#ffffff;
  text-decoration: underline overline #de721f;
  font-size:1.8vh;
  font-weight:600;
  letter-spacing:0.3rem;
}
footer{
  background-color: #0b0b0d;
  color:#2e323f;
  width:100%;
  height:35vh;
  padding:2vh 2vw;
  display:grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows:3fr 1fr 1fr;
}
.printables a{
  text-decoration:none;
  font-weight:bold;
  color:#ffffff;
  padding-bottom:1vh;
  padding-left:1vw;
  font-size:1.2rem;
}
.copyright{
  padding:1px 1px 1px 1px;
  font-size: 0.5rem;
  background-color:#232429;
  color:#ffffff;
  text-align:center;
  width:80%;
  border:solid 1px #ffffff
}

div .social-media{ 
  width:8vh;
  height:auto;
  padding-top:3vh;
}
/*media query for screen size 360px*/
@media screen and (min-width: 360px) {
#menu-box > h1{
  position:absolute;
  top:54%;
  left:34%;
  color:#ffffff;
  text-decoration: underline overline #de721f;
  font-size:2.2vh;
  font-weight:600;
  letter-spacing:0.3rem;
}
}

/*media query for screen size 375px*/
@media screen and (min-width: 375px) {
#menu-box > h1{
  position:absolute;
  top:54%;
  left:34%;
  color:#ffffff;
  text-decoration: underline overline #de721f;
  font-size:2.8vh;
  font-weight:600;
  letter-spacing:0.3rem;
}
}
/*media query for screen size 390px*/
@media screen and (min-width: 390px) {
#menu-box > h1{
  position:absolute;
  top:54%;
  left:34%;
  color:#ffffff;
  text-decoration: underline overline #de721f;
  font-size:2.4vh;
  font-weight:600;
  letter-spacing:0.3rem;
}
}
/*media query for screen size 414px*/
@media screen and (min-width: 414px) {
#menu-box > h1{
  position:absolute;
  top:54%;
  left:34%;
  color:#ffffff;
  text-decoration: underline overline #de721f;
  font-size:2.5vh;
  font-weight:600;
  letter-spacing:0.3rem;
}
}

/*media query for sreen size 430px*/
@media screen and (min-width: 430px) {

.printables a{
  text-decoration:none;
  font-weight:bold;
  color:#ffffff;
  padding-bottom:1vh;
  padding-left:1vw;
  font-size:1.5rem;
}
}
/*media query for screen size 490px*/
@media screen and (min-width: 490px) {

#menu-box > h1{
  position:absolute;
  top:54%;
  left:34%;
  color:#ffffff;
  text-decoration: underline overline #de721f;
  font-size:3vh;
  font-weight:600;
  letter-spacing:0.4rem;
}
h2{
  font-size:1.5rem;
  }
}
/*media query for screen size 540px*/
@media screen and (min-width: 540px) {
#menu-box > h1{ 
  position:absolute;
  top:54%;
  left:34%;
  color:#ffffff;
  text-decoration: underline overline #de721f;
  font-size:4vh;
  font-weight:600;
  letter-spacing:0.4rem;
}
/*media query for screen size 580px*/
@media screen and (min-width: 580px) {
#menu-box > h1{
  position:absolute;
  top:54%;
  left:34%;
  color:#ffffff;
  text-decoration: underline overline #de721f;
  font-size:4vh;
  font-weight:600;
  letter-spacing:0.4rem;
}
h2{
  font-size:1.5rem;
  }
}

/* media query for screen sizes over 768px for */
@media screen and (min-width: 768px){

#menu-box > h1{
  position:absolute;
  top:50%;
  left:33%;
  bottom:20%;
  right:20%;
  color:#ffffff;
  text-decoration: underline overline #de721f;
  font-size:4vh;
  font-weight:600;
  letter-spacing:0.5rem;
}

footer{
  background-color: #0b0b0d;
  color:#2e323f;
  width:100%;
  height:35vh;
  padding:2vh 2vw;
  display:grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
}
.printables a{
  text-decoration:none;
  font-weight:bold;
  font-size:2.5rem;
  color:#ffffff;
  padding-bottom:1vh;
  padding-left:1vw;
}
div .social-media{ 
  width:10vh;
  height:auto;
  padding-left:1vw;
}
.socials{
  background-color:#232429;
  color:#ffffff;
  width:75%;
  text-align: center;
  border:1px solid #ffffff;
}
}
/*media query for screen sizes over 820px*/
@media screen and (min-width: 820px) {
  #menu-box > h1{
  position:absolute;
  top:55%;
  left:33%;
  bottom:20%;
  right:20%;
  color:#ffffff;
  text-decoration: underline overline #de721f;
  font-size:3rem;
  font-weight:700;
  letter-spacing:0.5rem;
}
footer{
  background-color: #0b0b0d;
  color:#2e323f;
  width:100%;
  height:35vh;
  padding:2vh 2vw;
  display:grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
}
.copyright{
  padding:3px 3px 3px 3px;
  font-size:1rem;
  background-color:#232429;
  color:#ffffff;
  text-align:center;
  width:80%;
  border:solid 1px #ffffff}
}
.socials{
  background-color:#232429;
  color:#ffffff;
  width:80%;
  text-align: center;
  border:1px solid #ffffff;
  
}
}
/* media query for screen sizes over 1024px*/
@media screen and (min-width: 1024px) {

#menu > a{
  position:relative;

  text-decoration:none;
  font-size:130%;
}
#menu > a:hover{
  color:#2e323f;
  background-color: #ffffff;
}
.nav-toggle-label{
  display:none;
}
#menu{
  display:flex;
}
#menu-box > h1{
  position:absolute;
  top:55%;
  left:33%;
  bottom:20%;
  right:20%;
  color:#ffffff;
  text-decoration: underline overline #de721f;
  font-size:3.6rem;
  font-weight:800;
  letter-spacing:0.5rem;
}

.img-1{
  margin-top:5vh;
}

footer{
  background-color: #0b0b0d;
  color:#2e323f;
  width:100%;
  height:60vh;
  padding:2vh 2vw;
  display:grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
}

div .social-media{ 
  width:15vh;
  height:auto;
}
.socials{
  background-color:#232429;
  color:#ffffff;
  width:80%;
  font-size:2rem;
}
.copyright{
  font-size:2rem;
}
}
/*media qury for min-width 1024px and max-height 600px*/
@media screen and (min-width: 1024px) and (max-height: 600px) { 
.footer{
  background-color: #0b0b0d;
  color:#2e323f;
  width:100%;
  height:60vh;
  padding:2vh 2vw;
  display:grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
}
.copyright{
  padding:1px 1px 1px 1px;
  font-size:1rem;
  background-color:#232429;
  color:#ffffff;
  text-align:center;
  width:80%;
  border:solid 1px #ffffff
}
div .social-media{ 
  width:20vh;
  height:auto;
  padding-top:3vh;
} 
}
/* media query for screen sizes over 1060px*/
@media screen and (min-width: 1060px) {

#menu > a{
  position:relative;
  text-decoration:none;
  font-size:130%;
}
#menu > a:hover{
  color:#2e323f;
  background-color: #ffffff;
}
.nav-toggle-label{
  display:none;
}
#menu{
  display:flex;
}
#menu-box > h1{
  position:absolute;
  top:50%;
  left:37%;
  color:#ffffff;
  text-decoration: underline overline #de721f 8px;
  font-size:5rem;
  font-weight:800;
  letter-spacing:0.8rem;
  
}

/*boxes for main content*/
.wrapper{
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-auto-rows:1fr 1fr;
}

/*intro*/
.box-1{
  background-color:#232429;
  color:#ffffff;
  padding-top:3vh;
  padding-left:1vw;
  padding-right:1vw;
  padding-bottom:1vh;
}
/*image box*/
.img-1{
  background-color:#232429;
  padding: 1vw 1vw 1vw;
  margin:5vh 1vw 1vw;
  width:50vw;
  height:auto; 

}
/*keto image*/
.keto-diet{
  max-width:50vw;
  height:auto;
  border:solid 2px #de721f;
}
/*macro text box*/
.box-2{
  background-color:#232429;
  padding-top:0;
  padding-left:1vw;
  padding-right:1vw;
  padding-bottom:1vh;
  color:#ffffff;
  
}

/*macro image box*/
.box-3{
  background-color:#232429;
  color:#ffffff; 
  width:50vw;
  height:auto;
}

/*macros image*/
div .keto-macros{
  padding: 1vw 1vw 1vw;
  margin: 1vw 1vw 1vw;
  width:50vw;
  height:auto;
  border:2px solid #de721f;
}

/*section headings h2*/
h2{
  color:#de721f;
  font-size:2rem;
}

footer{
  background-color: #0b0b0d;
  color:#2e323f;
  width:100%;
  height:45vh;
  padding:2vh 2vw;
  display:grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
}

div .social-media{ 
  width:20vh;
  height:auto;
  padding-left:1vw;
}
.socials{
  background-color:#232429;
  color:#ffffff;
  width:80%;
}
}

/*media query for 1250px*/
@media screen and (min-width: 1250px){
  #menu-box > h1{
  position:absolute;
  top:50%;
  left:33%;
  color:#ffffff;
  text-decoration: underline overline #de721f;
  font-size:4.5rem;
  font-weight:800;
  letter-spacing:0.8rem;
}
/*boxes for main content*/
.wrapper{
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-auto-rows:1fr 1fr;
}

/*intro*/
.box-1{
  background-color:#232429;
  color:#ffffff;
  padding-top:3vh;
  padding-left:1vw;
  padding-right:1vw;
  padding-bottom:1vh;
}
/*image box*/
.img-1{
  background-color:#232429;
  padding: 1vw 1vw 1vw;
  margin:5vh 1vw 1vw;
  width:50vw;
  height:auto; 

}
/*keto image*/
.keto-diet{
  max-width:50vw;
  height:auto;
  border:solid 2px #de721f;
}
/*macro text box*/
.box-2{
  background-color:#232429;
  padding-top:0;
  padding-left:1vw;
  padding-right:1vw;
  padding-bottom:1vh;
  color:#ffffff;
  
}

/*macro image box*/
.box-3{
  background-color:#232429;
  color:#ffffff; 
  width:50vw;
  height:auto;
}

/*macros image*/
div .keto-macros{
  padding: 1vw 1vw 1vw;
  margin: 1vw 1vw 1vw;
  width:50vw;
  height:auto;
  border:2px solid #de721f;
}

/*section headings h2*/
h2{
  color:#de721f;
  font-size:2rem;
}

footer{
  background-color: #0b0b0d;
  color:#2e323f;
  width:100%;
  height:60vh;
  padding:2vh 2vw;
  display:grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
}
.copyright{
  padding:3px 3px 3px 3px;
  font-size:1.5rem;
  background-color:#232429;
  color:#ffffff;
  text-align:center;
  width:80%;
  border:solid 1px #ffffff
}
div .social-media{ 
  width:30vh;
  height:auto;
  padding-left:1vw;
}
.socials{
  background-color:#232429;
  color:#ffffff;
  width:80%;
  font-size:1rem;
  text-align: center;
}
}}